<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.lcy.managementsystem.dao.UserDao">
<!--    public List<User> findAll();-->
    <resultMap id="findAllResultMap" type="user">
        <id  column="username" property="username"></id>
        <result column="password" property="password"></result>
    </resultMap>
    <select id="findAll" resultMap="findAllResultMap">
        select * from user
    </select>
<!--    /**-->
<!--    * 添加我们所有用户的操作-->
<!--    * @return 添加成功返回true-->
<!--    */-->
<!--    public boolean addUser(User user);-->
    <select id="addUser"  parameterType="user">
        insert into  user (username,password) values (#{user.username},#{user.password})
    </select>
<!--    /**-->
<!--    * 更新我们所有用户的操作-->
<!--    * @return 添加成功返回true-->
<!--    */-->
<!--    public boolean updateUser(User user);-->
   <update id="updateUser" parameterType="user">
       update user
      <set>
          <if test="username!=null">
              username=#{user.username}
          </if>
          <if test="password!=null">
              username=#{user.password}
          </if>
      </set>
      <where>
          <if test="username!=null">
              username==#{user.username}
          </if>
      </where>
   </update>
<!--    /**-->
<!--    * 删除我们所有用户的操作-->
<!--    * @return 添加成功返回true-->
<!--    */-->
<!--    public boolean deleteUser(Integer username);-->
   <delete id="deleteUser" >
       delete * from  user
        <where>
            <if test="username!=null">
               username=#{username}
            </if>
        </where>
   </delete>
<!--    /**-->
<!--    * 根据用户名查找用户-->
<!--    * @return 返回单个用户-->
<!--    */-->
<!--    public User findByUsername(Integer username);-->
    <select id="findByUsername"  resultType="user">
        select * from user
        <where>
            <if test="username!=null">
                username=#{username}
            </if>
        </where>
    </select>
</mapper>